@charset "UTF-8";
/************************************************************************************** */
/**-------------------------- RESET --------------------------------------------------* */
/************************************************************************************** */
/* line 7, ../sass/master.sass */
body, html {
  font-size: 16px;
  width: 100%;
}

/************************************************************************************** */
/**-------------------------- VARIALBLES ---------------------------------------------* */
/************************************************************************************** */
/************************************************************************************** */
/**-------------------------- CLASES Y OBJETOS  ---------------------------------------* */
/************************************************************************************** */
/* line 32, ../sass/master.sass */
.btn-link-black {
  background: black;
  color: #fcff2a;
  padding: 10px 35px;
  text-decoration: none;
}
/* line 38, ../sass/master.sass */
.btn-link-black:hover, .btn-link-black:visited {
  text-decoration: none;
  color: #fcff2a;
}

/* line 45, ../sass/master.sass */
.section-gray-texture {
  min-height: 21px;
  background: url("../images/bg-preheader.jpg") repeat-x;
}

/************************************************************************************** */
/**-------------------------       WRAPPER         -        --------------------------* */
/************************************************************************************** */
/* line 55, ../sass/master.sass */
.container--relative {
  position: relative;
}

/* line 59, ../sass/master.sass */
.flex-wrapper {
  display: flex;
  align-items: center;
}

/* line 63, ../sass/master.sass */
.flex-wrapper__item-middle {
  width: 50%;
}

/* line 66, ../sass/master.sass */
.flex-wrapper--align-end {
  justify-content: flex-end;
  padding: 0 30px;
}

/************************************************************************************** */
/**-------------------------- HEADER   -----------------------------------------------* */
/************************************************************************************** */
/* line 77, ../sass/master.sass */
.mainHeader .mainHeader__pre {
  background: url("../images/bg-preheader.jpg");
  padding: 10px 0px 16px;
}
/* line 82, ../sass/master.sass */
.mainHeader .mainHeader__info {
  color: white;
  font-size: 1.25em;
  font-weight: 600;
  min-height: 51px;
}
/* line 89, ../sass/master.sass */
.mainHeader .mainHeader__info i {
  margin: 0 12px 0 0;
}
/* line 92, ../sass/master.sass */
.mainHeader .mainHeader__info ul {
  margin: 0;
}
/* line 94, ../sass/master.sass */
.mainHeader .mainHeader__info ul li {
  color: white;
  text-transform: uppercase;
}
/* line 98, ../sass/master.sass */
.mainHeader .mainHeader__info ul li:after {
  content: " -";
}
/* line 102, ../sass/master.sass */
.mainHeader .mainHeader__info ul li:last-child:after {
  content: "";
}

/************************************************************************************** */
/**-------------------------- FOOTER   -----------------------------------------------* */
/************************************************************************************** */
/* line 110, ../sass/master.sass */
.sidebarPreFooter {
  background: #111111;
  padding: 35px 0;
}
/* line 115, ../sass/master.sass */
.sidebarPreFooter .sidebarPreFooter__content {
  justify-content: space-between;
}
/* line 119, ../sass/master.sass */
.sidebarPreFooter .sidebar-widget-prefooter {
  position: relative;
  width: 30%;
}
/* line 124, ../sass/master.sass */
.sidebarPreFooter .sidebar-widget-prefooter p {
  color: white;
  font-size: 13px;
}
/* line 129, ../sass/master.sass */
.sidebarPreFooter .sidebar-widget-prefooter iframe {
  border: 2px solid black !important;
}
/* line 134, ../sass/master.sass */
.sidebarPreFooter .sidebar-widget-prefooter--bg-gray {
  background: #747474;
  min-height: 337px;
  padding: 17px 9px;
}
/* line 140, ../sass/master.sass */
.sidebarPreFooter .sidebar-widget-prefooter--bg-gray a {
  bottom: 31px;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  right: 16px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* line 150, ../sass/master.sass */
.sidebarPreFooter .sidebar-widget-prefooter--bg-gray a:hover {
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

/* line 157, ../sass/master.sass */
.mainFooter {
  background: #222222;
}
/* line 160, ../sass/master.sass */
.mainFooter .mainFooter__content {
  min-height: 88px;
  color: #a0a19b;
}
/* line 165, ../sass/master.sass */
.mainFooter p {
  color: #a0a19b;
  font-size: 13px;
  margin: 0 auto;
}
/* line 170, ../sass/master.sass */
.mainFooter p.inline-text {
  display: inline-block;
}

/************************************************************************************** */
/**--------------------------     LOGO  --------  ------------------------------------* */
/************************************************************************************** */
/* line 178, ../sass/master.sass */
.logo {
  margin: 0 auto;
  position: absolute;
  top: -70px;
}

/************************************************************************************** */
/**-------------------------- NAVIGATION ----------------------------------------------* */
/************************************************************************************** */
/* line 188, ../sass/master.sass */
.mainNavigation {
  background: url("../images/bg-navigation.jpg");
  background-repeat: repeat-x;
  background-size: 100% 100%;
  position: relative;
  z-index: 999;
}
/* line 196, ../sass/master.sass */
.mainNavigation ul {
  margin: 0 auto;
}
/* line 198, ../sass/master.sass */
.mainNavigation ul li {
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  padding: 0 30px;
}
/* line 202, ../sass/master.sass */
.mainNavigation ul li:hover, .mainNavigation ul li.current_page_item {
  background: black;
}
/* line 204, ../sass/master.sass */
.mainNavigation ul li:hover a, .mainNavigation ul li.current_page_item a {
  color: yellow;
}
/* line 206, ../sass/master.sass */
.mainNavigation ul li a {
  color: white;
  display: block;
  font-size: 0.9375em;
  padding: 10px 0 27px;
  text-decoration: none;
  text-transform: uppercase;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

/************************************************************************************** */
/**-------------------------- WIDGETS    ----------------------------------------------* */
/************************************************************************************** */
/* line 222, ../sass/master.sass */
.menu-socialLinks {
  margin: 0 auto;
  padding: 0 30px;
}
/* line 227, ../sass/master.sass */
.menu-socialLinks li {
  padding: 0 8px;
}
/* line 230, ../sass/master.sass */
.menu-socialLinks li:first-child {
  padding-left: 0;
}
/* line 235, ../sass/master.sass */
.menu-socialLinks li a {
  display: block;
  max-width: 45px;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* line 240, ../sass/master.sass */
.menu-socialLinks li a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -moz-transform: scale(1.09, 1.09);
  -ms-transform: scale(1.09, 1.09);
  -webkit-transform: scale(1.09, 1.09);
  transform: scale(1.09, 1.09);
}

/************************************************************************************** */
/**-------------------------- ------   BANNERS   ------------------------------------* */
/************************************************************************************** */
/* line 250, ../sass/master.sass */
.sectionBanner {
  border-bottom: 5px solid #d2c504;
}
/* line 255, ../sass/master.sass */
.sectionBanner .item .carousel-caption {
  bottom: 48px;
  left: 0;
  max-width: 450px;
  padding: 0 30px;
  text-align: left;
}
/* line 263, ../sass/master.sass */
.sectionBanner .item .carousel-caption h2 {
  color: #e4e10a;
  font-size: 1.4375em;
  font-weight: 700;
  margin: 0 auto;
  text-transform: uppercase;
}
/* line 271, ../sass/master.sass */
.sectionBanner .item .carousel-caption p {
  background: black;
  margin: 7px auto 0;
  padding: 5px 18px;
  text-align: center;
  text-transform: uppercase;
}

/* line 279, ../sass/master.sass */
.content-arrowBanner {
  margin: -25% auto 0;
  position: relative;
}

/* line 284, ../sass/master.sass */
.btn-arrowBanner {
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  background-color: transparent;
  color: #fff !important;
  display: block;
  font-size: 60px;
  height: 51px;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  width: 52px;
}
/* line 297, ../sass/master.sass */
.btn-arrowBanner:hover {
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

/* line 301, ../sass/master.sass */
.btn-arrowBanner--left {
  left: -2%;
  background: url("../images/arrows/arrow-left.png") no-repeat;
}

/* line 305, ../sass/master.sass */
.btn-arrowBanner--right {
  right: -2%;
  background: url("../images/arrows/arrow-right.png") no-repeat;
}

/************************************************************************************** */
/**---------------------       SECCION SERVICIOS  - HOME  ---- -----------------------* */
/************************************************************************************** */
/* line 314, ../sass/master.sass */
.section-wrapper {
  background: url("../images/bg-gray-texture.jpg");
  min-height: 330px;
  padding: 35px 0;
}
/* line 320, ../sass/master.sass */
.section-wrapper .bx-wrapper {
  margin: 0 auto;
}
/* line 322, ../sass/master.sass */
.section-wrapper .bx-wrapper .bx-viewport {
  background: transparent;
  border: none;
  box-shadow: none;
}
/* line 328, ../sass/master.sass */
.section-wrapper .bx-pager.bx-default-pager {
  text-align: right;
}
/* line 332, ../sass/master.sass */
.section-wrapper .bx-pager.bx-default-pager a {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  background: #cccccc;
  color: transparent;
  height: 20px;
  margin: 0 10px;
  width: 20px;
}

/* line 342, ../sass/master.sass */
.section-wrapper__title {
  color: #fcff2a;
  font-size: 1.125em;
  margin: 0 auto;
}

/* line 348, ../sass/master.sass */
.section-wrapper__carousel {
  margin: 0 auto;
}
/* line 355, ../sass/master.sass */
.section-wrapper__carousel article a {
  display: block;
  position: relative;
}
/* line 360, ../sass/master.sass */
.section-wrapper__carousel article a h2 {
  background: yellow;
  bottom: 0;
  color: black;
  font-size: 16px;
  font-weight: 700;
  left: 22px;
  margin: 0 auto;
  padding: 10px;
  position: absolute;
  right: 0;
  text-align: right;
  text-transform: uppercase;
}

/* line 378, ../sass/master.sass */
.section-wrapper__container {
  color: white;
  font-size: 0.875em;
  margin: 0 auto 20px;
}
/* line 385, ../sass/master.sass */
.section-wrapper__container h3 {
  color: #fcff2a;
  font-size: 1.125em;
  margin: 15px auto 5px;
}
/* line 391, ../sass/master.sass */
.section-wrapper__container figure {
  border: 3px solid black;
  margin: -5px 10px 0 0;
}
/* line 396, ../sass/master.sass */
.section-wrapper__container p {
  color: white;
}

/* line 400, ../sass/master.sass */
.section-wrapper__multimedia {
  margin: 20px auto;
}
/* line 403, ../sass/master.sass */
.section-wrapper__multimedia .section-wrapper__multimedia__content {
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
/* line 409, ../sass/master.sass */
.section-wrapper__multimedia .section-wrapper__multimedia__article {
  margin: 0 15px 15px;
  width: 30%;
  overflow: hidden;
}
/* line 415, ../sass/master.sass */
.section-wrapper__multimedia .section-wrapper__multimedia__article img {
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 419, ../sass/master.sass */
.section-wrapper__multimedia .section-wrapper__multimedia__article:hover img {
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

/************************************************************************************** */
/**---------------------       SECCION BLOG- NOTICIAS    ---- -----------------------* */
/************************************************************************************** */
/* line 428, ../sass/master.sass */
.section-wrapper__blog__content {
  flex-wrap: wrap;
}
/* line 432, ../sass/master.sass */
.section-wrapper__blog__content .section-wrapper__blog__article {
  color: white;
  margin: 0 10px 10px;
  position: relative;
  width: 30%;
  overflow: hidden;
}
/* line 440, ../sass/master.sass */
.section-wrapper__blog__content .section-wrapper__blog__article a {
  display: block;
  position: relative;
}
/* line 445, ../sass/master.sass */
.section-wrapper__blog__content .section-wrapper__blog__article a.content-link {
  display: inline-block;
}
/* line 449, ../sass/master.sass */
.section-wrapper__blog__content .section-wrapper__blog__article a .caption-article {
  right: 0;
  position: absolute;
  bottom: -88px;
  left: 22px;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 457, ../sass/master.sass */
.section-wrapper__blog__content .section-wrapper__blog__article a h3 {
  background: #fcff2a;
  color: black;
  font-size: 16px;
  font-weight: 700;
  margin: 0 auto;
  min-height: 70px;
  padding: 10px;
  text-align: right;
  text-transform: uppercase;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 470, ../sass/master.sass */
.section-wrapper__blog__content .section-wrapper__blog__article a p {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 0.8125em;
  height: 88px;
  margin: 0 auto;
  max-height: 88px;
  padding: 20px;
}
/* line 480, ../sass/master.sass */
.section-wrapper__blog__content .section-wrapper__blog__article a img {
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 486, ../sass/master.sass */
.section-wrapper__blog__content .section-wrapper__blog__article a:hover .caption-article {
  bottom: 0;
}
/* line 490, ../sass/master.sass */
.section-wrapper__blog__content .section-wrapper__blog__article a:hover h3 {
  color: #fcff2a;
  background: black;
}
/* line 495, ../sass/master.sass */
.section-wrapper__blog__content .section-wrapper__blog__article a:hover img {
  -moz-transform: scale(1.4, 1.4);
  -ms-transform: scale(1.4, 1.4);
  -webkit-transform: scale(1.4, 1.4);
  transform: scale(1.4, 1.4);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/************************************************************************************** */
/**---------------------   DESARROLLO DE CADA NOTICIA     ---- -----------------------* */
/************************************************************************************** */
/* line 505, ../sass/master.sass */
.article-post {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: black;
  padding: 15px;
}
/* line 511, ../sass/master.sass */
.article-post p {
  color: white;
  font-size: 0.9375em;
}

/* line 516, ../sass/master.sass */
.article-post__date {
  color: white;
  display: block;
  font-size: 0.75em;
  font-style: italic;
  margin: 15px 0;
}

/* line 524, ../sass/master.sass */
.article-post__title {
  color: #fcff2a;
  font-size: 1.25em;
  margin: 0 auto 15px;
}

/* line 530, ../sass/master.sass */
.article-post__thumbnail {
  margin: 0 auto 20px;
  width: 60%;
  border: 3px solid white;
}

/************************************************************************************** */
/**----------------------------   SECCI├ôN CONT├üCTENOS  -------------------------------* */
/************************************************************************************** */
/* line 540, ../sass/master.sass */
.section-wrapper--contact {
  margin: 0 auto;
}
/* line 544, ../sass/master.sass */
.section-wrapper--contact .section-wrapper--contact__content {
  justify-content: center;
  margin: 20px auto 0;
}
/* line 549, ../sass/master.sass */
.section-wrapper--contact .section-wrapper--contact__article {
  color: white;
  margin: 0 10px 0;
  width: 30%;
}
/* line 556, ../sass/master.sass */
.section-wrapper--contact .section-wrapper--contact__article .form-group textarea, .section-wrapper--contact .section-wrapper--contact__article .form-group input {
  color: gray;
}
/* line 558, ../sass/master.sass */
.section-wrapper--contact .section-wrapper--contact__article .form-group textarea {
  max-height: 100px;
  width: 100%;
  max-width: 100%;
  padding: 10px;
}

/************************************************************************************** */
/**----------------------------   MAPA GOOGLE          -------------------------------* */
/************************************************************************************** */
/* line 568, ../sass/master.sass */
#canvas-map {
  width: 100% !important;
  height: 350px;
}
