@charset "UTF-8";
/************************************************************************************** */
/**-------------------------- RESET --------------------------------------------------* */
/************************************************************************************** */
/* line 7, ../sass/master.sass */
body, html {
  font-size: 16px;
  width: 100%;
}

/************************************************************************************** */
/**-------------------------- VARIALBLES ---------------------------------------------* */
/************************************************************************************** */
/************************************************************************************** */
/**-------------------------- CLASES Y OBJETOS  ---------------------------------------* */
/************************************************************************************** */
/* line 32, ../sass/master.sass */
.btn-link-black {
  background: black;
  color: #fcff2a;
  padding: 10px 35px;
  text-decoration: none;
}
/* line 38, ../sass/master.sass */
.btn-link-black:hover, .btn-link-black:visited {
  text-decoration: none;
  color: #fcff2a;
}

/* line 45, ../sass/master.sass */
.section-gray-texture {
  min-height: 21px;
  background: url("../images/bg-preheader.jpg") repeat-x;
}

/************************************************************************************** */
/**-------------------------- TEXTOS           ---------------------------------------* */
/************************************************************************************** */
/* line 54, ../sass/master.sass */
.text-yellow {
  color: #d2c504 !important;
}

/* line 58, ../sass/master.sass */
p.inline-text {
  display: inline-block;
}

/* line 62, ../sass/master.sass */
.big-text {
  font-size: 1.75em;
}

/* line 67, ../sass/master.sass */
.text-size-standar {
  font-size: 1em;
}

/************************************************************************************** */
/**-------------------------       WRAPPER         -        --------------------------* */
/************************************************************************************** */
/* line 75, ../sass/master.sass */
.container--relative {
  position: relative;
}

/* line 79, ../sass/master.sass */
.container--center90 {
  display: block;
  margin: 0 auto;
  width: 90%;
}

/* line 85, ../sass/master.sass */
.flex-wrapper {
  display: flex;
  align-items: center;
}

/* line 89, ../sass/master.sass */
.flex-wrapper__item-middle {
  width: 50%;
}

/* line 92, ../sass/master.sass */
.flex-wrapper--align-end {
  justify-content: flex-end;
  padding: 0 30px;
}

/************************************************************************************** */
/**-------------------------- HEADER   -----------------------------------------------* */
/************************************************************************************** */
/* line 103, ../sass/master.sass */
.mainHeader .mainHeader__pre {
  background: url("../images/bg-preheader.jpg");
  padding: 10px 0px 16px;
}
/* line 108, ../sass/master.sass */
.mainHeader .mainHeader__info {
  color: white;
  font-size: 1.25em;
  font-weight: 600;
  min-height: 51px;
}
/* line 115, ../sass/master.sass */
.mainHeader .mainHeader__info i {
  margin: 0 12px 0 0;
}
/* line 118, ../sass/master.sass */
.mainHeader .mainHeader__info ul {
  margin: 0;
}
/* line 120, ../sass/master.sass */
.mainHeader .mainHeader__info ul li {
  color: white;
  text-transform: uppercase;
}
/* line 124, ../sass/master.sass */
.mainHeader .mainHeader__info ul li:after {
  content: " -";
}
/* line 128, ../sass/master.sass */
.mainHeader .mainHeader__info ul li:last-child:after {
  content: "";
}

/************************************************************************************** */
/**-------------------------- FOOTER   -----------------------------------------------* */
/************************************************************************************** */
/* line 136, ../sass/master.sass */
.sidebarPreFooter {
  background: url("../images/centro_fondo.jpg") no-repeat center/100% 100%;
  padding: 35px 0;
}
/* line 141, ../sass/master.sass */
.sidebarPreFooter .sidebarPreFooter__content {
  justify-content: space-between;
}
/* line 145, ../sass/master.sass */
.sidebarPreFooter .sidebar-widget-prefooter {
  position: relative;
  width: 30%;
}
/* line 150, ../sass/master.sass */
.sidebarPreFooter .sidebar-widget-prefooter p {
  color: white;
  font-size: 13px;
}
/* line 155, ../sass/master.sass */
.sidebarPreFooter .sidebar-widget-prefooter iframe {
  border: 2px solid black !important;
}
/* line 160, ../sass/master.sass */
.sidebarPreFooter .sidebar-widget-prefooter--bg-gray {
  background: #747474;
  min-height: 337px;
  padding: 17px 9px;
}
/* line 166, ../sass/master.sass */
.sidebarPreFooter .sidebar-widget-prefooter--bg-gray a {
  bottom: 31px;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  right: 16px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* line 176, ../sass/master.sass */
.sidebarPreFooter .sidebar-widget-prefooter--bg-gray a:hover {
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

/* line 183, ../sass/master.sass */
.mainFooter {
  background: url("../images/barra_inferior.jpg") no-repeat center/100% 100%;
  border-top: 4px solid #fcff2a;
}
/* line 188, ../sass/master.sass */
.mainFooter .mainFooter__content {
  color: #a0a19b;
  justify-content: space-between;
  min-height: 88px;
  padding: 15px 0;
}
/* line 195, ../sass/master.sass */
.mainFooter .mainFooter__content__item {
  width: 30%;
}
/* line 199, ../sass/master.sass */
.mainFooter p {
  color: #a0a19b;
  font-size: 13px;
  margin: 0 auto;
  position: relative;
}
/* line 205, ../sass/master.sass */
.mainFooter p.inline-text {
  display: inline-block;
}
/* line 209, ../sass/master.sass */
.mainFooter .text-developer {
  font-size: 0.8125em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
}

/************************************************************************************** */
/**--------------------------     LOGO  --------  ------------------------------------* */
/************************************************************************************** */
/* line 223, ../sass/master.sass */
.logo {
  margin: 0 auto;
  position: absolute;
  top: -70px;
}

/************************************************************************************** */
/**-------------------------- NAVIGATION ----------------------------------------------* */
/************************************************************************************** */
/* line 233, ../sass/master.sass */
.mainNavigation {
  background: url("../images/bg-navigation.jpg");
  background-repeat: repeat-x;
  background-size: 100% 100%;
  position: relative;
  z-index: 999;
}
/* line 241, ../sass/master.sass */
.mainNavigation ul {
  margin: 0 auto;
}
/* line 244, ../sass/master.sass */
.mainNavigation ul li {
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  padding: 0 30px;
  position: relative;
  display: inline-block;
}
/* line 253, ../sass/master.sass */
.mainNavigation ul li:hover .sub-menu {
  height: auto;
  display: block;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 259, ../sass/master.sass */
.mainNavigation ul li:hover, .mainNavigation ul li.current_page_item, .mainNavigation ul li.current-menu-ancestor, .mainNavigation ul li.current_page_parent {
  background: black;
}
/* line 261, ../sass/master.sass */
.mainNavigation ul li:hover a, .mainNavigation ul li.current_page_item a, .mainNavigation ul li.current-menu-ancestor a, .mainNavigation ul li.current_page_parent a {
  color: yellow;
}
/* line 263, ../sass/master.sass */
.mainNavigation ul li a {
  color: white;
  display: block;
  font-size: 0.9375em;
  padding: 10px 0 27px;
  text-decoration: none;
  text-transform: uppercase;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* line 273, ../sass/master.sass */
.mainNavigation .sub-menu {
  left: 0;
  padding: 0;
  position: absolute;
  background: url("../images/bg-navigation.jpg") repeat;
  background-size: 100% 100%;
  height: 0;
  display: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 284, ../sass/master.sass */
.mainNavigation .sub-menu li a {
  font-size: 12px;
}

/************************************************************************************** */
/**-------------------------- WIDGETS    ----------------------------------------------* */
/************************************************************************************** */
/* line 294, ../sass/master.sass */
.menu-socialLinks {
  margin: 0 auto;
  padding: 0 30px;
}
/* line 299, ../sass/master.sass */
.menu-socialLinks li {
  padding: 0 8px;
}
/* line 302, ../sass/master.sass */
.menu-socialLinks li:first-child {
  padding-left: 0;
}
/* line 307, ../sass/master.sass */
.menu-socialLinks li a {
  display: block;
  max-width: 45px;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* line 312, ../sass/master.sass */
.menu-socialLinks li a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -moz-transform: scale(1.09, 1.09);
  -ms-transform: scale(1.09, 1.09);
  -webkit-transform: scale(1.09, 1.09);
  transform: scale(1.09, 1.09);
}

/************************************************************************************** */
/**-------------------------- ------   BANNERS   ------------------------------------* */
/************************************************************************************** */
/* line 322, ../sass/master.sass */
.sectionBanner {
  border-bottom: 5px solid #d2c504;
}
/* line 327, ../sass/master.sass */
.sectionBanner .item .carousel-caption__content {
  bottom: 48px;
  color: white;
  max-width: 450px;
  padding: 0 30px;
  position: absolute;
  text-align: left;
  top: 50%;
}
/* line 337, ../sass/master.sass */
.sectionBanner .item .carousel-caption__content h2 {
  background: #e4e10a;
  color: black;
  font-size: 1.4375em;
  font-weight: 700;
  margin: 0 auto;
  padding: 5px;
  text-transform: uppercase;
}
/* line 347, ../sass/master.sass */
.sectionBanner .item .carousel-caption__content p {
  background: black;
  margin: 7px auto 0;
  padding: 5px 18px;
  text-align: center;
  text-transform: uppercase;
}
/* line 355, ../sass/master.sass */
.sectionBanner .item .carousel-caption__content--left {
  left: 10%;
}
/* line 359, ../sass/master.sass */
.sectionBanner .item .carousel-caption__content--right {
  right: 10%;
}

/* line 362, ../sass/master.sass */
.content-arrowBanner {
  margin: -25% auto 0;
  position: relative;
}

/* line 367, ../sass/master.sass */
.btn-arrowBanner {
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  background-color: transparent;
  color: #fff !important;
  display: block;
  font-size: 60px;
  height: 51px;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  width: 52px;
}
/* line 380, ../sass/master.sass */
.btn-arrowBanner:hover {
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

/* line 384, ../sass/master.sass */
.btn-arrowBanner--left {
  left: -2%;
  background: url("../images/arrows/arrow-prev-services.png") no-repeat;
  background-size: 100%;
}

/* line 389, ../sass/master.sass */
.btn-arrowBanner--right {
  right: -2%;
  background: url("../images/arrows/arrow-next-services.png") no-repeat;
  background-size: 100%;
}

/************************************************************************************** */
/**---------------------       SECCION SERVICIOS  - HOME  ---- -----------------------* */
/************************************************************************************** */
/* line 399, ../sass/master.sass */
.section-wrapper-relative {
  position: relative;
}

/* line 403, ../sass/master.sass */
.section-wrapper--padding {
  padding: 0 2%;
}

/* line 407, ../sass/master.sass */
.section-wrapper {
  background: url("../images/bg-gray-texture.jpg");
  min-height: 330px;
  padding: 35px 0;
}
/* line 413, ../sass/master.sass */
.section-wrapper .bx-wrapper {
  margin: 0 15px;
}
/* line 415, ../sass/master.sass */
.section-wrapper .bx-wrapper .bx-viewport {
  background: transparent;
  border: none;
  box-shadow: none;
}
/* line 421, ../sass/master.sass */
.section-wrapper .bx-pager.bx-default-pager {
  text-align: right;
}
/* line 425, ../sass/master.sass */
.section-wrapper .bx-pager.bx-default-pager a {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  background: black;
  color: transparent;
  height: 20px;
  margin: 0 10px;
  width: 20px;
}
/* line 435, ../sass/master.sass */
.section-wrapper .bx-pager.bx-default-pager a.active {
  background: #fcff2a !important;
}

/* line 439, ../sass/master.sass */
.section-wrapper__title {
  color: #fcff2a;
  font-size: 1.625em;
  margin: 0 auto;
}

/* line 445, ../sass/master.sass */
.section-wrapper__carousel {
  margin: 0 auto;
}
/* line 452, ../sass/master.sass */
.section-wrapper__carousel article a, .section-wrapper__carousel article .inside {
  display: block;
  position: relative;
}
/* line 457, ../sass/master.sass */
.section-wrapper__carousel article a h2, .section-wrapper__carousel article .inside h2 {
  background: yellow;
  bottom: 0;
  color: black;
  font-size: 16px;
  font-weight: 700;
  left: 22px;
  margin: 0 auto;
  padding: 10px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
}

/* line 471, ../sass/master.sass */
.section-wrapper__carousel__arrow {
  cursor: pointer;
  height: 32px;
  margin: -16px auto 0;
  position: absolute;
  top: 50%;
  width: 32px;
  z-index: 9999999;
}

/* line 481, ../sass/master.sass */
.section-wrapper__carousel__arrow--prev {
  background: url("../images/arrows/arrow-prev-services.png") no-repeat;
  background-size: 100%;
  left: -30px;
}

/* line 486, ../sass/master.sass */
.section-wrapper__carousel__arrow--next {
  background: url("../images/arrows/arrow-next-services.png") no-repeat;
  background-size: 100%;
  right: -20px;
}

/**---------------------       SECCION SERVICIOS  - PAGINA DE SERVICIOS  ---- -----------------------* */
/*ARTICULOS dentro de la seccion  */
/* line 495, ../sass/master.sass */
.sectionServices__article {
  align-items: center;
  display: flex;
  margin: 0 auto 20px;
  width: 80%;
}
/* line 502, ../sass/master.sass */
.sectionServices__article figure {
  background: black;
  border: 5px solid white;
  float: left;
  margin: 0 50px 10px 0;
  overflow: hidden;
  padding: 5px;
  width: 40%;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 512, ../sass/master.sass */
.sectionServices__article figure:hover {
  border: 5px solid #fcff2a;
}
/* line 516, ../sass/master.sass */
.sectionServices__article figure:hover img {
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
/* line 520, ../sass/master.sass */
.sectionServices__article figure img {
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 526, ../sass/master.sass */
.sectionServices__article .sectionServices__article__text {
  width: 60%;
}
/* line 529, ../sass/master.sass */
.sectionServices__article .sectionServices__article__text h2 {
  color: #fcff2a;
  font-size: 1.625em;
  margin: 0 auto 20px;
  position: relative;
}
/* line 535, ../sass/master.sass */
.sectionServices__article .sectionServices__article__text h2 span.title {
  background: black;
  padding: 0 10px 0 0;
  position: relative;
  z-index: 9999;
}
/* line 542, ../sass/master.sass */
.sectionServices__article .sectionServices__article__text .yellow-line {
  border-bottom: 3px solid yellow;
  bottom: 5px;
  left: 0;
  position: absolute;
  width: 99%;
  z-index: 999;
}

/* line 553, ../sass/master.sass */
.section-wrapper__container {
  color: white;
  font-size: 0.875em;
  margin: 0 auto 20px;
}
/* line 560, ../sass/master.sass */
.section-wrapper__container h3 {
  color: #fcff2a;
  font-size: 1.125em;
  margin: 15px auto 5px;
}
/* line 566, ../sass/master.sass */
.section-wrapper__container figure {
  border: 3px solid black;
  margin: -5px 40px 20px 0;
}
/* line 571, ../sass/master.sass */
.section-wrapper__container p {
  color: white;
}

/* line 575, ../sass/master.sass */
.section-wrapper__multimedia {
  margin: 20px auto;
}
/* line 578, ../sass/master.sass */
.section-wrapper__multimedia .section-wrapper__multimedia__content {
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
/* line 585, ../sass/master.sass */
.section-wrapper__multimedia .section-wrapper__multimedia__article {
  border: 4px solid #fcff2a;
  margin: 0 15px 15px;
  overflow: hidden;
  width: 30%;
}
/* line 592, ../sass/master.sass */
.section-wrapper__multimedia .section-wrapper__multimedia__article iframe {
  border: 4px solid #fcff2a;
}
/* line 596, ../sass/master.sass */
.section-wrapper__multimedia .section-wrapper__multimedia__article img {
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 600, ../sass/master.sass */
.section-wrapper__multimedia .section-wrapper__multimedia__article:hover img {
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 605, ../sass/master.sass */
.section-wrapper__multimedia .section-wrapper__multimedia__article--noborder {
  border: none !important;
}

/************************************************************************************** */
/**---------------------       SECCION BLOG- NOTICIAS    ---- -----------------------* */
/************************************************************************************** */
/* line 614, ../sass/master.sass */
.section-wrapper__blog__content {
  flex-wrap: wrap;
}
/* line 618, ../sass/master.sass */
.section-wrapper__blog__content .section-wrapper__blog__article {
  color: white;
  margin: 0 10px 10px;
  position: relative;
  width: 30%;
  overflow: hidden;
}
/* line 626, ../sass/master.sass */
.section-wrapper__blog__content .section-wrapper__blog__article a {
  display: block;
  position: relative;
}
/* line 631, ../sass/master.sass */
.section-wrapper__blog__content .section-wrapper__blog__article a.content-link {
  display: inline-block;
}
/* line 635, ../sass/master.sass */
.section-wrapper__blog__content .section-wrapper__blog__article a .caption-article {
  right: 0;
  position: absolute;
  bottom: -88px;
  left: 22px;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 643, ../sass/master.sass */
.section-wrapper__blog__content .section-wrapper__blog__article a h3 {
  background: #fcff2a;
  color: black;
  font-size: 16px;
  font-weight: 700;
  margin: 0 auto;
  min-height: 70px;
  padding: 10px;
  text-align: right;
  text-transform: uppercase;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 656, ../sass/master.sass */
.section-wrapper__blog__content .section-wrapper__blog__article a p {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 0.8125em;
  height: 88px;
  margin: 0 auto;
  max-height: 88px;
  padding: 20px;
}
/* line 666, ../sass/master.sass */
.section-wrapper__blog__content .section-wrapper__blog__article a img {
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 672, ../sass/master.sass */
.section-wrapper__blog__content .section-wrapper__blog__article a:hover .caption-article {
  bottom: 0;
}
/* line 676, ../sass/master.sass */
.section-wrapper__blog__content .section-wrapper__blog__article a:hover h3 {
  color: #fcff2a;
  background: black;
}
/* line 681, ../sass/master.sass */
.section-wrapper__blog__content .section-wrapper__blog__article a:hover img {
  -moz-transform: scale(1.4, 1.4);
  -ms-transform: scale(1.4, 1.4);
  -webkit-transform: scale(1.4, 1.4);
  transform: scale(1.4, 1.4);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/************************************************************************************** */
/**---------------------   DESARROLLO DE CADA NOTICIA     ---- -----------------------* */
/************************************************************************************** */
/* line 691, ../sass/master.sass */
.article-post {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: black;
  padding: 15px;
}
/* line 697, ../sass/master.sass */
.article-post p {
  color: white;
  font-size: 0.9375em;
}

/* line 702, ../sass/master.sass */
.article-post__date {
  color: white;
  display: block;
  font-size: 0.75em;
  font-style: italic;
  margin: 15px 0;
}

/* line 710, ../sass/master.sass */
.article-post__title {
  color: #fcff2a;
  font-size: 1.25em;
  margin: 0 auto 15px;
}

/* line 716, ../sass/master.sass */
.article-post__thumbnail {
  margin: 0 auto 20px;
  width: 60%;
  border: 3px solid white;
}

/************************************************************************************** */
/**----------------------------   SECCI├ôN CONT├üCTENOS  -------------------------------* */
/************************************************************************************** */
/* line 726, ../sass/master.sass */
.section-wrapper--contact {
  margin: 0 auto;
}
/* line 730, ../sass/master.sass */
.section-wrapper--contact .section-wrapper--contact__content {
  justify-content: center;
  margin: 20px auto 0;
}
/* line 735, ../sass/master.sass */
.section-wrapper--contact .section-wrapper--contact__article {
  color: white;
  margin: 0 10px 0;
  width: 30%;
}
/* line 742, ../sass/master.sass */
.section-wrapper--contact .section-wrapper--contact__article .form-group textarea, .section-wrapper--contact .section-wrapper--contact__article .form-group input {
  color: gray;
}
/* line 744, ../sass/master.sass */
.section-wrapper--contact .section-wrapper--contact__article .form-group textarea {
  max-height: 100px;
  width: 100%;
  max-width: 100%;
  padding: 10px;
}

/************************************************************************************** */
/**----------------------------   MAPA GOOGLE          -------------------------------* */
/************************************************************************************** */
/* line 754, ../sass/master.sass */
#canvas-map {
  width: 100% !important;
  height: 350px;
}
